body {
    margin: 0;
    padding: 0;
    font-family: "TT lakes", sans-serif;
    font-size: 16px;
    color: #1B1C21;
}

.brands {
    @media screen and (max-width: 767.88px) {
        min-width: 320px;
    }
    @media screen and (min-width: 768px) {
        min-width: 768px;
    }
    @media screen and (min-width: 1120px) {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    background-color: #F8F8F8;  
}

.brands__title {
    padding: 16px;
    background: linear-gradient(
                to right,
                #F8F8F8,
                #FFFFFF 
                );          
}

.brands__h2 {
    margin: 0;
    color: #7E7E82;
    font-weight: 400; 
    font-size: 16px;
    text-transform:uppercase; 
}

.brands__list{
    margin: 0;
    padding: 1px;
    background-color: #b8cdcc;

}

.brands-list__item {
    @media screen and (max-width: 767.88px) {
        width: 240px;
        
    }
    @media screen and (min-width: 768px) {
        width: 224px;
    }
    @media screen and (min-width: 1120px) {
        width: 240px;
        margin-right: 16px;
    }
    position: relative;
    box-sizing: border-box;
    height: 72px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.border__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.brands-list__item::after {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: 16px;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
}

.brands-list__item::before {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: 36px;
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #FF3E79;
    border-right: 2px solid #FF3E79;
    transform: rotate(45deg);

    
}


.swiper {
    @media screen and (max-width: 767.88px) {
        overflow: hidden;
        min-width: 320px;
        height: 90px;
        background-color: #F8F8F8;
        padding: 16px 0 40px 16px ;
    }
    @media screen and (min-width: 768px) {
        padding-bottom: 20px;
    }
    @media screen and (min-width: 1120px) {
        padding-bottom: 20px;
    }
  }

  .brands_swiper-wrapper {
    @media screen and (min-width: 768px) {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, 224px);
        grid-template-rows: repeat(auto-fit, 72px);
        overflow: hidden;
        min-width: 768px;
        height: 200px;
        justify-content: space-between;
        gap:16px;
        background-color: #F8F8F8;
        padding: 24px;
    }
    @media screen and (min-width: 1120px) {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 240px);
        overflow: hidden;
        width: 1120px;
        height: 200px;
        gap:16px 32px;
        background-color: #F8F8F8;
        padding: 32px;
    }
  }

  .swiper-wrapper_height--auto {
    @media screen and (min-width: 768px) {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, 224px);
        grid-template-rows: repeat(auto-fit, 72px);
        overflow: hidden;
        min-width: 768px;
        height: auto;
        justify-content: space-between;
        gap:16px;
        background-color: #F8F8F8;
        padding: 24px;
    }
    @media screen and (min-width: 1120px) {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(4, 240px);
        overflow: hidden;
        width: 1120px;
        height: auto;
        gap:16px 32px;
        background-color: #F8F8F8;
        padding: 32px;
    }   
  }
.swiper-slide {
    @media screen and (max-width: 767.88px) {
        width: auto;
    }
    @media screen and (min-width: 768px) {
        margin:0;
        padding: 0;
    }
    @media screen and (min-width: 1120px) {
        margin:0;
        padding: 0;
    }
}

  .swiper-pagination {
    @media screen and (max-width: 767.88px) {
        position: relative;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    @media screen and (min-width: 1120px) {
        display: none;
    }
  }

.swiper-pagination-bullet {
    @media screen and (max-width: 767.88px) {
        width: 12px;
        height: 12px;
        background-color: #DDDDDD;
    }
}

.swiper-pagination-bullet-active {
    @media screen and (max-width: 767.88px) {
        background-color: #B5B6BC;
    }
}

.brands__button {
    @media screen and (max-width: 767.88px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        margin-left: 24px;
        padding:0;
        display: flex;
        align-items: center;
        border: none;
        background-color:#F8F8F8;
        font-family: "TT lakes", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
    }
    @media screen and (min-width: 1120px) {
        margin-left: 24px;
        padding:0;
        display: flex;
        align-items: center;
        border: none;
        background-color:#F8F8F8;
        font-family: "TT lakes", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1B1C21;
    }
  }